# Importing the Depedencies

In [46]:
import numpy as np
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [19]:
#Download ntlk
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/vikky/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
#printing the stopwords in english
#print(stopwords('english'))

# Data collection

In [10]:
#loading the dataset in pandas dataframe
data=pd.read_csv('Fakenew.csv')

In [11]:
#read csv fill in pandas data frame
pd.read_csv?

In [12]:
#printing the dataset 
data

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [13]:
#print first 5 rows of the dataset
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [14]:
#printing the last 5 rows of the dataset
data.tail()

,id,title,author,text,label
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [15]:
#check the shape of the dataset
data.shape

(20800, 5)

In [16]:
#check more information of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [17]:
#check the statical measure of the dataset
data.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [18]:
#check the missing values of the dataset
data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [23]:
#replacing the null values with empty string
data=data.fillna('')

In [25]:
#merging the anthor name and new title
data['content']=data['author']+''+data['title']

In [30]:
#printing the title
data['title']

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                        Why the Truth Might Get You Fired
3        15 Civilians Killed In Single US Airstrike Hav...
4        Iranian woman jailed for fictional unpublished...
                               ...
20795    Rapper T.I.: Trump a ’Poster Child For White S...
20796    N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797    Macy’s Is Said to Receive Takeover Approach by...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799                            What Keeps the F-35 Alive
Name: title, Length: 20800, dtype: object

In [29]:
#printing the content
print(data['content'])

0        Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1        Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom...
2        Consortiumnews.comWhy the Truth Might Get You ...
3        Jessica Purkiss15 Civilians Killed In Single U...
4        Howard PortnoyIranian woman jailed for fiction...
                               ...
20795    Jerome HudsonRapper T.I.: Trump a ’Poster Chil...
20796    Benjamin HoffmanN.F.L. Playoffs: Schedule, Mat...
20797    Michael J. de la Merced and Rachel AbramsMacy’...
20798    Alex AnsaryNATO, Russia To Hold Parallel Exerc...
20799               David SwansonWhat Keeps the F-35 Alive
Name: content, Length: 20800, dtype: object

In [31]:
#scperating the data label
X=data.drop(columns='label',axis=1)
Y=data['label']

In [32]:
#printing X and Y
print(X)
print(Y)

          id                                              title  \
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795  20795  Rapper T.I.: Trump a ’Poster Child For White S...
20796  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  Macy’s Is Said to Receive Takeover Approach by...
20798  20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
20795                              Jerome Hudson
20796                           Benjamin Hoffman
20797  Michael J. de la Merced and Rachel Abrams
20798                                Alex Ansary
20799                              David Swanson

                                                    text  \
0      House Dem Aide: We Didn’t Even See Comey’s Let...
1      Ever get the feeling your life circles the rou...
2      Why the Truth Might Get You Fired October 29, ...
3      Videos 15 Civilians Killed In Single US Airstr...
4      Print \nAn Iranian woman has been sentenced to...
...                                                  ...
20795  Rapper T. I. unloaded on black celebrities who...
20796  When the Green Bay Packers lost to the Washing...
20797  The Macy’s of today grew from the union of sev...
20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799    David Swanson is an author, activist, journa...

                                                 content
0      Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1      Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom...
2      Consortiumnews.comWhy the Truth Might Get You ...
3      Jessica Purkiss15 Civilians Killed In Single U...
4      Howard PortnoyIranian woman jailed for fiction...
...                                                  ...
20795  Jerome HudsonRapper T.I.: Trump a ’Poster Chil...
20796  Benjamin HoffmanN.F.L. Playoffs: Schedule, Mat...
20797  Michael J. de la Merced and Rachel AbramsMacy’...
20798  Alex AnsaryNATO, Russia To Hold Parallel Exerc...
20799             David SwansonWhat Keeps the F-35 Alive

[20800 rows x 5 columns]
0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

# stemming
stemming is the process of reading a word to its root word

In [33]:
#PorterStemmer load
port_stem = PorterStemmer()

In [34]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [36]:
data['content'] = data['content'].apply(stemming)

In [37]:
#spliting the data and lable
X=data['content'].values

In [38]:
Y=data['label'].values

In [39]:
#printing the X and Y 
print(X)
print(Y)

['darrel lucushous dem aid even see comey letter jason chaffetz tweet'
 'daniel j flynnflynn hillari clinton big woman campu breitbart'
 'consortiumnew comwhi truth might get fire' ...
 'michael j de la merc rachel abramsmaci said receiv takeov approach hudson bay new york time'
 'alex ansarynato russia hold parallel exercis balkan'
 'david swansonwhat keep f aliv']
[1 0 1 ... 0 1 1]

In [40]:
#converting the textual data to numerical data
vectorizer = TfidfVectorizer()

In [41]:
#fitting the TfidfVectorizer
vectorizer.fit(X)

TfidfVectorizer()

In [42]:
X=vectorizer.transform(X)

In [43]:
print(X)

  (0, 26322)	0.28088379401596425
  (0, 22702)	0.2552336018069161
  (0, 14997)	0.43006226759639316
  (0, 14533)	0.29177259684200296
  (0, 12760)	0.24619727512767195
  (0, 8002)	0.23133661742488731
  (0, 6250)	0.2839932825877813
  (0, 5946)	0.35488202138141456
  (0, 4983)	0.2472595823572816
  (0, 4187)	0.3625320323150658
  (0, 552)	0.2694167078545385
  (1, 27949)	0.36911845953845024
  (1, 11292)	0.24166773097712638
  (1, 8753)	0.5258635625386451
  (1, 5893)	0.31810058109638056
  (1, 4744)	0.23338756776626793
  (1, 3833)	0.45980466668763476
  (1, 3255)	0.18652439327549428
  (1, 2596)	0.3562953366945267
  (2, 26217)	0.3665032495181434
  (2, 16336)	0.43295215406038445
  (2, 9435)	0.30743020569262086
  (2, 8548)	0.3411947414020896
  (2, 5217)	0.40440534260277944
  (2, 5098)	0.5511414848555652
  :	:
  (20797, 25758)	0.08220218573989037
  (20797, 25299)	0.3119640221826561
  (20797, 22063)	0.24902354987792552
  (20797, 20755)	0.2729578683228216
  (20797, 20470)	0.249994989010826
  (20797, 17481)	0.08090456115716123
  (20797, 16290)	0.1785200594251359
  (20797, 16192)	0.3273246827604847
  (20797, 14082)	0.22761807337911874
  (20797, 11671)	0.2992170910232368
  (20797, 6065)	0.21253094503918346
  (20797, 2231)	0.3357782642976524
  (20797, 1223)	0.3072223353708335
  (20797, 73)	0.38829670969848273
  (20798, 21914)	0.2284042880065583
  (20798, 18736)	0.43981843518920394
  (20798, 11413)	0.3219420705942853
  (20798, 8075)	0.40266358130888547
  (20798, 1895)	0.43981843518920394
  (20798, 1055)	0.4638903157542853
  (20798, 671)	0.2827933658592677
  (20799, 25128)	0.6713314187498636
  (20799, 13307)	0.4138037375613909
  (20799, 5995)	0.345590335823275
  (20799, 706)	0.5085743925573473

In [53]:
#spliting the dataset to training and test data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, random_state=2, test_size=0.2,stratify=Y)

In [52]:
print(X.shape, X_train.shape,X_test.shape)

(20800, 28445) (18720, 28445) (2080, 28445)

In [55]:
#train the model
model =LogisticRegression()

In [56]:
#fitting the model 
model.fit(X_train,Y_train)

LogisticRegression()

# Model Evaluation

In [57]:
#accuracy values training dataset
training_prdiction=model.predict(X_train)

In [60]:
training_data_accuracy=accuracy_score(Y_train,training_prdiction)

In [61]:
print('accuracy score on training dataset: ',training_data_accuracy)

accuracy score on training dataset:  0.9719951923076923

In [64]:
#accuracy values test dataset
test_prdiction=model.predict(X_test)

In [65]:
test_data_accuracy=accuracy_score(Y_test,test_prdiction)

In [66]:
print('accuracy score on test dataset: ',test_data_accuracy)

accuracy score on test dataset:  0.9548076923076924

# Bulliding the predictive system

In [73]:
X_new = X_test[0]

In [74]:
prediction=model.predict(X_new)

In [76]:
print(prediction)
if (prediction[0]==0):
    print('That news is real')
else:
    print('That news is fake')

[1]
That news is fake